<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <style>
        th{
            text-align: center;
            margin-right: 10px;
            margin-left: 10px;
        }
        td{
            text-align: center;
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div style="display: flex; place-items:center;justify-content: center; flex-direction:row;">
        <p>Mostra lista de pacientes com: </p>
        <a href='/' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">Todos</button>
        </a>
        <a href='/0/20' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">20</button>
        </a>
        <a href='/0/30' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">30</button>
        </a> 
        <a href='/0/40' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">40</button>
        </a>
        <p>  pacientes</p>
    </div>
    <div style="display: flex; flex-direction: column;">
        <table >
            <thead>
                <tr>
                    <th style="margin-right: 10px;">Nome</th>
                    {%for campo in campos%}
                        <th style="margin-right: 10px;">{{campo}}</th>
                    {% endfor %}        
                </tr>        
            </thead>
            <tbody>
                {% for nome,dados in nomes_dado %}
                <tr onclick=window.open('/{{nome}}')>
                    <td style="margin-right: 10px;">{{nome}}</td>
                    {% for dado in dados %}
                        <td style="margin-right: 10px;">{{dado}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        setTimeout(function () { 
          location.reload();
        }, {{tempo_espera}} );
    </script>
</body>
</html>