<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <style>
        th{
            text-align: center;
            margin-right: 10px;
            margin-left: 10px;
        }
        td{
            text-align: center;
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div style="display: flex; place-items:center;justify-content: center; flex-direction:row;">
        <p>Mostra lista de pacientes com: </p>
        <a href='/' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">Todos</button>
        </a>
        <a href='/0/20' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">20</button>
        </a>
        <a href='/0/30' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">30</button>
        </a> 
        <a href='/0/40' style="margin-left:5px;margin-right: 5px;">
            <button style="width: 100px;height: 30px;">40</button>
        </a>
    </div>
    <div >
        <table style="display: flex; place-items:center;justify-content: center; flex-direction:column;">
            {% for tipo,dado in dados %}
            <tr>
                <th>{{tipo}}</th>
                <td>{{dado}}</td>            
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            {%endfor%}    
        </table>
    </div>
    <script type="text/javascript">
        setTimeout(function () { 
          location.reload();
        }, {{tempo_espera}} );
    </script>
</body>
</html>